<footer>
	<ul class="footer-list">
		<li class="footer-item">
			<a class="footer-link" href="https://twitter.com/julesforrest">Twitter</a>
		</li>
		<li class="footer-item">
			<a class="footer-link" href="https://codepen.io/julesforrest">Codepen</a>
		</li>
		<li class="footer-item">
			<a class="footer-link" href="mailto:julesforrest@gmail.com">Email</a>
		</li>
		<li class="footer-item">
			<a class="footer-link" href="https://dribbble.com/julesforrest">Dribbble</a>
		</li>
		<li class="footer-item">
			<a class="footer-link" href="https://github.com/julesforrest">Github</a>
		</li>
		<li>
			<p>👋</p>
		</li>
	</ul>
</footer>
