{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<p>Bonjour {{ name }} comment allez vous ?</p>
<p> Vous avez fêté {{ age }} printemps </p>
{% endblock %}

