div.container  {
    padding-top: 20px;
}

div.banner-title {
    padding: 2em;
    display: block;
}

.background {
    background-size: cover;
    background-position: center center;
}

.banner-title h1, .banner-title p {
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.carousel-caption h5, .carousel-caption p {
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.nav {
    background-color: #002a38;
    height: 12vh;
}

body {
    height: 100%;
    
}

.footer-list {
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
}

@media(min-width: 500px) {
    .footer-list {
        grid-auto-flow: column;
    }
}

.footer-link {
    color: white;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

.footer-link:hover {
    box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

.footer-item:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.footer-item:hover~.footer-item p {
    animation: wave-animation 0.3s infinite;
}

/* below is just for demo styling */

footer {
    display: flex;
    height: 25vh;
    width: 100%;
    background-color: #002a38;
    line-height: 1.3;
    font-family: Menlo, monospace;
    top: 800px;
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-medium {
    max-width: 64px;
    max-height: 64px;
}

.avatar-mini {
    max-width: 24px;
    max-height: 24px;
}

.avatar-micro {
    max-width: 16px;
    max-height: 16px;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    color:firebrick !important;
    
}



.rating{
    color:goldenrod;
}